%% -*- mode: erlang -*-

{erl_opts, [debug_info,
	    {parse_transform, lager_transform}]}.

{cover_enabled, true}.
{cover_export_enabled,true}.

{deps, [{lager, "3.6.3"}]}.

{relx, [{release, {cinnamon, "0.0.1"},
	 [cinnamon]},
	{dev_mode, true},
	{include_erts, true},

	{vm_args, "config/vm.args"},

	{extended_start_script, true}]}.

{lager, [
	 {log_root, "/tmp/cinnamon"},
	 {handlers, [
		     {lager_console_backend, [{level, info}]},
		     {lager_file_backend, [{file, "error.log"}, {level, error}]},
		     {lager_file_backend, [{file, "console.log"}, {level, info}]}
		    ]}
	]}.
